@using MVCTestProject.Domain.Entities
@model IEnumerable<GameBase>

@{
    ViewBag.Title = "Home";
}
<div id="buttonDiv">

    <h1>Willkommen!</h1>
    <h2>Bitte wähle ein Spiel aus!</h2>

    @foreach (var g in Model)
    {
        @Html.Partial("GamesButtons", g)
    }
</div>







